*.DS_Store
bin/data/.DS_Store
bin/dyantraDebug.app
bin/dyantra.app
bin/.DS_Store
ofxSvg/.DS_Store
ofxSvg/libs/.DS_Store
ofxSvg/libs/libxml2/.DS_Store
ofxSvg/libs/svgtiny/.DS_Store
*.xcbkptlist
*.xcworkspacedata
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEFindNavigatorScopes.plist
*.xcworkspace/xcshareddata/xcschememanagement.plist
dyantra.xcodeproj/project.xcworkspace/xcuserdata/
dyantra.xcodeproj/xcuserdata
bin/data/tara-head-components/

