.DS_Store
bin/.DS_Store
bin/svgReaderDebug.app/Contents/Frameworks/
bin/svgReaderDebug.app/Contents/MacOS/
ofxSvg/.DS_Store
ofxSvg/libs/.DS_Store
ofxSvg/libs/libxml2/.DS_Store
ofxSvg/libs/svgtiny/.DS_Store
svgReader.xcodeproj/project.xcworkspace/xcuserdata/glowacki.xcuserdatad/UserInterfaceState.xcuserstate<file_name>
